<!DOCTYPE html> 
<html> 
<head> 
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogging API Homepage</title> 
    <style> 
body{
    font-family: 'Jost', sans-serif;
}
 #navbar ul { 
	margin: 0; 
	padding: 5px; 
	list-style-type: none; 
	text-align: center; 
	background-color: #000; 
	} 
 
#navbar ul li {  
	display: inline; 
	} 
 
#navbar ul li a { 
	text-decoration: none; 
	padding: .2em 1em; 
	color: #fff; 
	background-color: #000; 
	} 
 
#navbar ul li a:hover { 
	color: #000; 
	background-color: #fff; 
	} 

.body{
    text-align: center;

}    
   </style> 
   <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
   <a href="./signup.ejs"></a>
</head>
    <body>
        <div id="navbar"> 
            <ul> 
              <li><a href="#">Homepage</a></li>
              <li><a href="signup">Signup || Login</a></li> 
            </ul> 
          </div> 

        <div class="body">
        <h1>
            Welcome to the Blogging API Homepage!
        </h1>
        <br>
        <p>Kindly visit <a href="https://github.com/LegionImmanuel/Blogging-API-1/#readme">GitHub</a> to understand this project.</p>
    </body>
    <br></br>
    <footer>
        <p> &copy; Emmanuel Ekwuazi (2022)</p>
    </footer>    
    </div>
</html>